<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div id="app">

        <welcome @wanna-play="play" v-if="!play_clicked"></welcome>

        <game @fin="init_game" v-if="play_clicked == true && game_on == true"></game>

        <winner v-if="replay_screen == true"></winner>


    </div>

        <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/VueComponentExterne.js"></script>
    <script src="js/app.js" type="module"></script>
</body>
</html>